<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Recipe Finder</title>
    <meta name="description" content="Search results from ingredient search">
    <link rel="stylesheet" href="">
</head>

<body>
    <nav>
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('profile')}}">Profile</a>
        <a href="{{url_for('recipe')}}">Recipe</a>
        <a href="{{url_for('ingredient')}}">Ingredient</a>
    </nav>

    {% block content %} 
    
    {% endblock %}
</body>

</html>