{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Welcome to Recipe Finder</h1>
</div>

<div class="container">
  <form method="POST","GET" action="/search_recipe">
    {{form.hidden_tag()}}
    <dl>
    {{form.select.label}}{{form.select}}<br>
    {{form.search.label}}{{form.search}}<br>
    {{form.submit()}}

    </dl>
  </form>
</div>

<div class="container" method>
  <ul>
    {% for recipe in results %}
    <li>
    <h2>{{ recipe.name }}</h2>
    {% endfor %}
    <h3>Ingredients</h3>
    <ul>
    {% for recipe in results %}
    <li>{{ recipe.ingredients[0]['name'] }}</li>
    <li>{{ recipe.ingredients[1]['name'] }}</li>
    <li>{{ recipe.ingredients[2]['name'] }}</li>
    <li>{{ recipe.ingredients[3]['name'] }}</li>
    <li>{{ recipe.ingredients[4]['name'] }}</li>
    {% endfor %}
    
    
    </ul>
    <h3>Directions</h3>
    <ul>
      {% for recipe in results %}
      <li>{{ recipe.steps[0] }}</li>
      <li>{{ recipe.steps[1] }}</li>
      <li>{{ recipe.steps[2] }}</li>
      <li>{{ recipe.steps[3] }}</li>
      <li>{{ recipe.steps[4] }}</li>
      {% endfor %}
    </ul>

    </li>
    
</ul>
 
</div>



{% endblock %}