{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Welcome to Recipe Finder</h1>
</div>

<div class="container">
  <form method="post">
    {{form.hidden_tag()}}
    <dl>
    {{form.select.label}}{{form.select}}<br>
    {{form.search.label}}{{form.search}}<br>
    {{form.submit()}}

    </dl>
  </form>
</div>

<div class="container">

    {% for rating in review.items %}
    <div class="card">
        <div class="caed-body">
            <h2><a class="card-title" href="{{url_for('recipe.rating',rating.id,review.id)}}">{{rating.title}}</a>
                <a href="{{url_for('users.user_rating',name=rating.rater.name)}}">Written By: {{review.rater.name}}</a>
                <a class="btn btn-primary" href="{{url_for('recipe.review',recipe.id,review.id)}}"> Read Review</a>
        </div>
    </div>
    {% endfor %}
</div>

<nav aria-label='Page Navigation example'>
    <ul class="pagination justify-content-center">
      {% for page_num in review.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)  %}
        {% if recipe_posts.page == page_num %}
        <li class='page-item disabled'>
          <a class="page-link" href="{{url_for('core.index',page=page_num)}}">{{ page_num}}</a>
        </li>
        {% else %}
        <li class='page-item'>
          <a class="page-link" href="{{url_for('core.index',page=page_num)}}">{{ page_num}}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  
  </nav>
{% endblock %}